<nav class="navbar">
    <h1 class="title">Eat-da-Burger</h1>
</nav>

<div class="container-fluid wrap">
    <div class="row burg-row">
        <div class="col-lg text-center eat-bg">

            <h3 class="header">Burgers ready to eat!</h3>
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                {{> burger/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-3 text-center">
            <img src="/assets/img/bburg.jpg">
        </div>
        <div class="col-lg text-center eat-bg">
            <h3 class="header">Burgers you've eatten!</h3>

            <ul>
                {{#each burger}}
                {{#if devoured}}
                <li>{{id}}. {{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <form class="create-form">

                <div class="form-group">
                    <label for="burger">Name your burger you want to order up!:</label>
                    <br>
                    <textarea class="col-11" type="text" id="burger" name="burger_name"></textarea>
                </div>

                <button class="add-burg" type="submit">Add burger</button>
            </form>
        </div>
    </div>
</div>